@import '../../style/variables.scss';

.avatar {
    border-radius: 50%;
    box-shadow: 2px 3px 6px #000;
    transform: scale(0.7);
}

.name {
    padding-left: 1em;
}

.card {
    background-color: $sm-primary-color;
    padding: $sm-padding-toolbar;
    display: flex;
    align-items: center;
    color: $sm-primary-text-color;
}
