<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{event.summary}}</mat-card-title>
        <mat-card-subtitle>{{event.start.date}} - {{event.end.date}} ({{event.updated}})</mat-card-subtitle>
    </mat-card-header>
    <!--img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"-->
    <mat-card-content>
        <p class="content">
            {{event.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="warn">DELETE</button>
    </mat-card-actions>
</mat-card>